name: Build Dist Package

on:
  push:
    branches: [ main ]

jobs:
  build_dist:
    runs-on: windows-latest

    steps:
    # -------------------------------------------------
    # Checkout
    # -------------------------------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -------------------------------------------------
    # BUILD LAUNCHER (PySide / PyInstaller)
    # -------------------------------------------------
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install launcher dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Ventana_Principal_TFG/requirements.txt
        pip install pyinstaller

    - name: Build Launcher
      run: |
        cd Ventana_Principal_TFG
        pyinstaller --noconfirm --onefile --windowed main.py --name Launcher
        cd ..

    # -------------------------------------------------
    # BUILD GODOT GAME (CLI OFICIAL)
    # -------------------------------------------------
    - name: Download Godot
      run: |
        curl -L -o godot.zip https://github.com/godotengine/godot/releases/download/4.2.1-stable/Godot_v4.2.1-stable_win64.exe.zip
        tar -xf godot.zip
        ren Godot_v4.2.1-stable_win64.exe godot.exe
    
    - name: Create Godot export directory
      run: |
        mkdir Juego_GODOT\export
    
    - name: Export Godot game
      run: |
        .\godot.exe --headless --path Juego_GODOT --export-release "Windows Desktop" export/Juego.exe


    # -------------------------------------------------
    # CREATE DIST STRUCTURE
    # -------------------------------------------------
    - name: Create Dist folder structure
      run: |
        mkdir Dist
        mkdir Dist\game
        mkdir Dist\runtime
        mkdir Dist\config
        mkdir Dist\saves

    # -------------------------------------------------
    # COPY FILES
    # -------------------------------------------------
    - name: Copy Launcher
      run: |
        copy Ventana_Principal_TFG\dist\Launcher.exe Dist\Launcher.exe

    - name: Copy Godot game
      run: |
        xcopy Juego_GODOT\export\* Dist\game\ /E /I /Y
  
    - name: Copy user config if exists
      shell: powershell
      run: |
        if (Test-Path "usuario_local.json") {
        Copy-Item "usuario_local.json" "Dist\config\usuario_local.json"
        } else {
        '{}' | Out-File "Dist\config\usuario_local.json" -Encoding utf8
        }

    # -------------------------------------------------
    # UPLOAD FINAL PACKAGE
    # -------------------------------------------------
    - name: Upload Dist Package
      uses: actions/upload-artifact@v4
      with:
        name: Dist_Package
        path: Dist
