name: Combine Game and Launcher Builds

on:
  workflow_run:
    workflows: ["Build Godot Windows EXE", "Python application"]
    types:
      - completed

jobs:
  package:
 
    if: ${{ github.event.workflow_run.name == 'Build Godot Windows EXE' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Launcher artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: "Python-app.yml"
          name: "Launcher_Videojuego_exe"
          path: package/launcher
          branch: main
          workflow_conclusion: success

     
      - name: Download Godot artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: "build_godot.yml"
          name: "windows-build"
          path: package/game
          branch: main
          workflow_conclusion: success

  
      - name: Combine builds
        run: |
          mkdir -p final_package
          cp package/launcher/*.exe final_package/Launcher_Videojuego.exe
          cp package/game/*.exe final_package/Juego_GODOT.exe
          cp package/game/*.pck final_package/Juego_GODOT.pck
          echo "Build combinado el $(date)" > final_package/README.txt
          echo "" >> final_package/README.txt
          echo "Contenido del paquete:" >> final_package/README.txt
          echo "- Launcher_Videojuego.exe" >> final_package/README.txt
          echo "- Juego_GODOT.exe" >> final_package/README.txt
          echo "- Juego_GODOT.pck" >> final_package/README.txt
          cd final_package
          zip -r Combined_Build.zip .
      - name: Upload combined package
        uses: actions/upload-artifact@v4
        with:
          name: Combined_Game_and_Launcher
          path: final_package/Combined_Build.zip
