name: Combine Game and Launcher Builds

on:
  workflow_dispatch:

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # ---------------------------------------
      # Descargar último Launcher exitoso
      # ---------------------------------------
      - name: Download latest Launcher build
        run: |
          echo "Buscando último build exitoso del Launcher..."

          RUN_ID=$(gh run list \
            --workflow "Build Qt Application" \
            --branch  "$GITHUB_REF_NAME" \
            --status success \
            --limit 1 \
            --json databaseId \
            --jq '.[0].databaseId')

          echo "Launcher run id: $RUN_ID"

          gh run download "$RUN_ID" \
            --name Launcher_Videojuego_exe \
            --dir package/launcher
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # ---------------------------------------
      # Descargar último Godot exitoso
      # ---------------------------------------
      - name: Download latest Godot build
        run: |
          echo "Buscando último build exitoso de Godot..."

          RUN_ID=$(gh run list \
            --workflow "Build Godot Windows EXE" \
            --branch main \
            --status success \
            --limit 1 \
            --json databaseId \
            --jq '.[0].databaseId')

          echo "Godot run id: $RUN_ID"

          gh run download "$RUN_ID" \
            --name windows-build \
            --dir package/game
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # ---------------------------------------
      # Combinar estructura final
      # ---------------------------------------
      - name: Combine builds
        run: |
          mkdir -p final_package/game final_package/runtime

          cp package/launcher/*.exe final_package/Launcher_Videojuego.exe
          cp package/game/*.exe final_package/game/Juego.exe
          cp package/game/*.pck final_package/game/Juego.pck

          cd final_package
          zip -r Combined_Build.zip .

      - uses: actions/upload-artifact@v4
        with:
          name: Combined_Game_and_Launcher
          path: final_package/Combined_Build.zip
